<html>
<head> 
  <title>CapricornSoft - Redbubble Trend analyzer</title> 
</head>
<body>
  <div>
    {{#dates}}
      <a href="/trends/{{date}}">{{date}}</a> <br />
    {{/dates}}
  </div>
</div>   
</body>
</html>